<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--BS styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!--BS styles-->
    <link rel="stylesheet" href="../styles/index.css">
    <title>RCG #2</title>
</head>
<body>
<img class="logo-image" src="../images/logo.JPG" alt="__Image not found__">
<nav class="navbar-sm navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about-us.html">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="members.html">Участники проекта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="knowledge-31.html">Опыт - 31</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parents.html">Родителям</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="news.html">Новости и события</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="info.html">Контакты</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Главная страница</h1>
<!--BS scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--BS scripts-->
</body>
</html>