<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--BS styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!--BS styles-->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(65953813, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/65953813" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="../styles/index.css">
    <title>RCG #2</title>
</head>
<body>
<div class="background-transparent">
    <div class="background-solid">
        <header>
            <img class="logo-image" src="../images/logo.JPG" alt="Logo image">
        </header>
        <main>
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="https://img.icons8.com/metro/26/000000/drag-list-down.png"/></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about-us.html">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="members.html">Участники проекта</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="knowledge-31.html">Опыт - 31</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="parents.html">Родителям</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news.html">Новости и события</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="info.html">Контакты</a>
                        </li>
                    </ul>
                    <a class="nav-link" href="#" title="Версия для слабовидящих">
                        <img src="https://img.icons8.com/material-rounded/24/000000/visible.png"/></a>
                    <a class="nav-link" href="http://45.141.101.239/moodle/calendar/view.php?view=month" title="события/мероприятия/олимпиады">
                        <img src="https://img.icons8.com/ios/50/000000/calendar-12.png"/></a>
                    <button class="btn btn-outline-success">
                        <a class="nav-link" href="http://45.141.101.239/moodle/login/index.php" target="_blank" title="Вход в Виртуальную Творческую Лабораторию">Вход</a>
                    </button>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <article>
                            <p>
                            <h3 class="where-info">Контактная информация</h3>
                            <h4 class="vtl-header">Виртуальная Творческая Лаборатория</h4>
                            Россия<br/>
                            г. Томск<br/>
                            ул. Лебедева 92<br/>
                            <h4 class="vtl-header">Руководитель проекта</h4>
                            Ярославцева Светлана Алексеевна<br/>
                            Телефон: +7(000)0000000<br/>
                            Эл.адрес: example@mail.ru<br/>
                            <h4 class="vtl-header">Заместитель руководителя</h4>
                            Борисова Наталья Васильевна<br/>
                            Телефон: +7(000)0000000<br/>
                            Эл.адрес: example@mail.ru<br/>
                            </p>
                        </article>
                    </div>
                    <div class="col-sm">
                        <article>
                            <p>
                            <h3 class="where-info">Адрес</h3>
                            </p>
                            <a class="dg-widget-link" href="http://2gis.ru/tomsk/firm/422740746055742/center/84.99782,56.479385/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Томска</a><div class="dg-widget-link"><a href="http://2gis.ru/tomsk/center/84.99782,56.479385/zoom/16/routeTab/rsType/bus/to/84.99782,56.479385╎Русская классическая гимназия №2?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Русская классическая гимназия №2</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":56.479385,"lon":84.99782,"zoom":16},"opt":{"city":"tomsk"},"org":[{"id":"422740746055742"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
                            <!--Здесь появится карта -->
                        </article>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <nav class="navbar navbar-expand sticky-bottom">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><span>Дата создания сайта: 01.01.01</span></li>
                    </ul>
                    <a target="_blank" href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/youtube-squared.png"/></a>
                    <a target="_blank" href="#"><img src="https://img.icons8.com/metro/26/000000/instagram-new.png"/></a>
                </div>
            </nav>
            <a class="icons" href="https://icons8.com/icon/11019/pull-down">Pull Down icon by Icons8</a>
            <a class="icons" href="https://icons8.com/icon/14017/calendar-12">Calendar 12 icon by Icons8</a>
        </footer>
    </div>
</div>
<!--BS scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--BS scripts-->
</body>
</html>