.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 55%;
}

.navbar {
    background-color: #2b64b4;
}

.nav-link {
    font-family: Georgia, serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover {
    transition: all 150ms ease-in-out;
    color: darkgray;
}

.navbar ul li {
    margin: 0 1px;
}

.carousel {
    margin-top: 1vw;
}

body {
    padding: 1.5vw 15vw;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.col-sm .btn {
    border-radius: 2px;
    font-weight: 400;
    background: #2b64b4;
    color: #ffffff;
}

.col-sm .btn:hover {
    background: #1f4780;
}

.col-sm .news {
    display: block;
    block-size: 250px;
    text-align: center;
}

.col-sm .info {
    display: block;
    block-size: 250px;
    align-content: center;
}

.col-sm .buttons {
    display: block;
    block-size: 250px;
}

.news-link {
    display: block;
    font-weight: bold;
    color: #2b64b4;
    text-decoration: none;
    margin-left: 10vw;
    margin-right: 10vw;
}

.footer-navbar {
    background: #2b64b4;
    block-size: 60px;
}

.footer-navbar ul li {
    display: inline-block;
}

.icons {
    color: white;
}

.icons:hover {
    color:white;
}

.date {
    padding-top: 15px;
}

.footer-navbar:hover {
    background: #2b64b4;
}

.info h1 {
    text-align: center;
}

.background-transparent {
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

.background-solid {
    background: white;
    padding: 1rem;
}





