.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 10px;
    max-width: 40%;
}

.navbar {
    background-color: #2b64b4;
}

.nav-link, .nav-item {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    transition: all 75ms ease-in-out;
}
.nav-link:hover {
    color: darkgray;
}

.carousel {
    padding-top: 1rem;
}

body {
    font-family: Georgia, serif;
    padding: 5px 25px;
    background-image: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parents {
    text-align: center;

}

.parents .photo {
    display: inline-block;
    max-width: 80%;
}

.col-sm .btn {
    border-radius: 2px;
    font-weight: 400;
    background: #2b64b4;
    color: #ffffff;
}


.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.col-sm .btn:hover {
    background: #1f4780;
}

.col-sm .news {
    display: block;
    block-size: 250px;
    text-align: center;
}

.col-sm .info {
    display: block;
    block-size: 250px;
    align-content: center;
}

.col-sm .buttons {
    display: block;
    block-size: 250px;
}

.news-link {
    display: block;
    font-weight: bold;
    color: #2b64b4;
    text-decoration: none;
    margin-left: 10vw;
    margin-right: 10vw;
}

.footer-navbar {
    background: #2b64b4;
    block-size: 60px;
}

.footer-navbar ul li {
    display: inline-block;
}

.icons {
    color: white;
}

.icons:hover {
    color:white;
}

.footer-navbar:hover {
    background: #2b64b4;
}

.info h1 {
    text-align: center;
}

.background-transparent {
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

.background-solid {
    background: white;
    padding: 1rem;
}

.photo {
    padding-top: 1vw;
    max-width: 100%;
    object-fit: cover;
}

.where-info {
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: thin;
    padding-bottom: 1vw;
    text-align: center;
    font-family: Georgia, serif;
    color: #2b64b4;
}

.vtl-header {
    text-align: center;
    color: #2b64b4;
}

.card {
    max-width: 18rem;
    margin: 1vw;
}

.card-img-top {
    max-height: 50%;
}

.header {
    max-font-size: 1em;
}

.col-sm .btn {
    font-size: 1rem;
}

.col-sm .header {
    font-size: 2rem;
    font-weight: 400;
}

.centered-knowledge .row .col-sm {
    margin-left: auto;
    margin-right: auto;
}

.navbar .btn {
    width: 10rem;
}

#btn-welcome-to-vtl {
    font-size: 1rem;
}

.articles, .open-lessons, .center, .master-classes {
    padding: 1em;
}

.articles-picture, .open-lessons-picture, .center-picture, .master-classes-picture {
    max-width: 100%;
    transition: all 150ms ease-in-out;
}

.articles-picture:hover, .open-lessons-picture:hover, .center-picture:hover, .master-classes-picture:hover {
    border: 5px silver solid;
    border-radius: 3px;
    padding: 3px;
}

.exp {
    margin-right: auto;
    margin-left: auto;
}

.exp-31 {
    font-size: 1.2em;
}

.picture-exp {
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
}

.picture-exp-third, .picture-exp-first {
    margin-right: 0px;
}

.picture-exp-forth, .picture-exp-second {
    margin-left: 0px;
}

.breadcrumbs {
    padding-top: 5px;
}

.new-exp-list {
    text-decoration: none !important;
    color: #000000;
    transition: all 150ms ease-in-out;
}

.new-exp-list:hover {
    text-decoration: none !important;
    color: #000000;
    background: lightgray;
    border-radius: 3px;
    padding: 3px;
}

.col-sm > .button-more {
    background-color: #8ec430;
}

.col-sm > .button-more:hover {
    background-color: #668c24;
}

.video-iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
